.botao-medio{
    margin:0 auto;
    padding:10px 8px;
    transition:all 0.25s;
    display: table;
    color:#faa500;
    border:1px solid #333;
    text-decoration: none;
    cursor:pointer;
    background:#fff;
}
a.botao-medio{text-decoration: none;}
.botao-medio:hover{background:#333;color:#f2f2f2;border:2px solid #faa500;}