#sobre .texto{ text-align:center;}
#sobre .texto p{margin-bottom:45px;text-align:justify;}
#sobre .texto h2{
    font-size:3em;
    font-family: 'Open Sans Condensed', sans-serif;
    text-transform: uppercase;
    text-shadow:3px 2px 4px rgba(0, 0, 0, 0.582);
    margin:10px 0 20px 0;
}

#sobre .habilidades{
    margin: 0 auto;
    display: flex;
    padding: 40px 10px;
    height: 250px;
    width: 100%;
    flex-direction: row;
    flex-wrap:wrap;
    /* border:1px solid green; */
    justify-content: space-between;
}

#sobre .habilidades div{
    /* border:1px solid black; */
    width:40%;
    margin:0 10px;
}

#sobre .habilidades{clear:both;}
#sobre .habilidades .barra{
    margin: 1em 0;
    width:100%;
    height:17px;
}

#sobre .habilidades .barra span{
    display: block;
    height: 100%;
    border-radius:20px;
    background: linear-gradient(90deg, #333,#faa500);
}

#sobre .habilidades .habilidade-7 .barra span{background: linear-gradient(to left,orange, orange,#000,#000,#000,#000,#000);}
#sobre .habilidade-3 .barra span{background: linear-gradient(to left,orange,orange,orange,orange,orange,#000,#000);}
#sobre .habilidade-5 .barra span{background: linear-gradient(to left,orange,orange,orange,orange,#000,#000,#000,#000);}
#sobre .habilidade-65 .barra span{background: linear-gradient(to left,orange,orange,orange,orange,#000,#000,#000,black,#000,#000);}
#sobre .habilidades h2 i{font-size:40px;}    
#sobre .habilidades h2 i.fab.fa-java{color:#fb2525;}
#sobre .habilidades h2 i.fab.fa-html5{color:orange;}
#sobre .habilidades h2 i.fab.fa-github{color:#000;}
#sobre .habilidades h2 i.fab.fa-css3{color:#3498db;}

    
/******************************** MEDIA QUERY ********************************/

@media (max-width:590px){
    #sobre .itens{
        display:block;
        text-align: center;
    }
    .itens .imagem{
        display: block;
        
    }

    #sobre .texto p{padding:0 15px;}
    .itens .icone-lapis{margin:15px 3.98px; display: inline-block; font-size:22px; width:75px;height:75px;line-height: 85px;text-align: center;}
    .itens .icone-coracao{margin:15px 3.98px; display: inline-block; font-size:22px; width:75px;height:75px;line-height: 85px;text-align: center;}
    .itens .icone-codigo{margin:15px 3.98px; display: inline-block; font-size:22px; width:75px;height:75px;line-height: 85px;text-align: center;}
    .itens .icone-compartilhar{margin:15px 3.98px; display: inline-block; font-size:22px; width:75px;height:75px;line-height: 85px;text-align: center;}
}

@media (max-width:768px){
    .itens .icone-lapis{display: inline-block;margin: 20px 12px 1em 0;}
    .itens .icone-coracao{display: inline-block;margin: 20px 12px 1em 0;}
    .itens .icone-codigo{display: inline-block;margin: 20px 12px 1em 0;}
    .itens .icone-compartilhar{display: inline-block;margin: 20px 12px 1em 0;}
    #sobre .itens{
        display:block;
        text-align: center;
    }
    
}