#footer{
    margin-top:5em;
    background:linear-gradient(360deg, #000,#111,#222,#333,rgba(0,0,0,0.68));
}
#footer img{
    width:200px;
    display: block;
    margin: 40px auto 0px auto;
    padding:10px;
}

#footer p{text-align:center;color:#fff;}