@media(max-width:991px){
    #header li i{  display: none;}
    #header li i:hover{display: none;cursor: default;}
    
}
@media(max-width:576px){
    #header li i{
        display: none;
    }
    #header li i:hover{display: none;cursor: default;}

    #header h1{
        transition:all 0.25s;
        font-family: 'Roboto Condensed', sans-serif;
        font-size:1.6em;
        display: table;
        clear:both;
        margin:7.4em auto 0 auto;
        padding: 8px 10px;
        text-align:center;
        border:4px solid #fff;
        color:#eeeeee;
        text-transform: uppercase;
        align-self: flex-end;
    }   
    #header p{
        padding:0 14px;
        color:#fff;
        margin:15px auto;
        text-transform: uppercase;
        text-align:center;
        font-family:'Open Sans Condensed', sans-serif; 
        font-size:14px;
    }
}


