@media(max-width:576px){
    #icones .icone h2{font-size:18px;}
    #contato form{margin-top:3em;}
    #contato textarea{ height:100px;margin: 0 0 2em 0;}  
    
    #icones{    
        margin: 3em 0 0 0;
        height:100%;
        width:100%;
        display:block;
    }

    #icones .icone .fa-phone{
        position:static;
        display: table;
        margin:10px auto;
        font-size:12px;
    }
    .icone .fa-envelope{
        position:static;
        display: table;
        margin: 10px auto;
        font-size:20px;
    }
}

@media(max-width:768px){
    #icones{    
        margin: 2.5em 0 0 0;
        height:100%;
        width:100%;
        display:block;
    }

    #contato form{margin-top:3em;}
    #contato textarea{ height:100px;margin: 0 0 2em 0;}  
    #icones .icone .fa-phone{
        position:static;
        display: table;
        margin:10px auto;
        font-size:14px;
    }
    .icone .fa-envelope{
        position:static;
        display: table;
        margin: 10px auto;
        font-size:20px;
    }

}


@media(max-width:1079px){
    #icones{    
        margin: 2.3em 0 0 0;
        height:100%;
        width:100%;
        display:block;
        /* border:1px solid red; */
    }

    #icones .icone .fa-phone{
        position:static;
        display: table;
        margin:10px auto;
        font-size:1.2em;
    }
    .icone .fa-envelope{
        position:static;
        display: table;
        margin: 10px auto;
        font-size:1.3em;
    }

}
